<h2>New user</h2>
<% if @new_user.errors.full_messages %>
    <% @new_user.errors.full_messages.each do |error| %>
        <p style="color: red"><%= error %></p>
    <% end %>
<% end %>
<%= form_with model: @new_user, url: "/admin/users", method: "post", local: true do |user_form| %>
    <p>
        <%= label_tag(:name, "First Name") %>
        <%= user_form.text_field :first_name, value: @new_user.first_name %>
    </p>
    <p>
        <%= label_tag(:name, "Last Name") %>
        <%= user_form.text_field :last_name, value: @new_user.last_name %>
    </p>
    <p>
        <%= label_tag(:name, "Email") %>
        <%= user_form.email_field :email, value: @new_user.email %>
    </p>
<!--    Hide this part in case user is not an admin-->
<!--    <p>-->
        <%#= label_tag(:name, "Role") %>
        <%#= user_form.text_field :role, value: @new_user.role %>
<!--    </p>-->

    <p>
        <%= label_tag(:name, "Password") %>
        <%= user_form.password_field :password %>
    </p>
    <p>
        <%= label_tag(:name, "Confirm password") %>
        <%= user_form.password_field :password_confirmation %>
    </p>
    <p>
        <%= user_form.submit "Create" %>
    </p>
<% end %>