<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>Sign-up</h2>
        <% if @new_user.errors.full_messages %>
            <% @new_user.errors.full_messages.each do |error| %>
                <p class="text-danger"><%= error %></p>
            <% end %>
        <% end %>
        <%= form_with model: @new_user, url: "/users", method: "post", local: true do |user_form| %>
            <div class="form-group">
                <%= label_tag(:name, "First Name") %>
                <%= user_form.text_field :first_name, value: @new_user.first_name, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag(:name, "Last Name") %>
                <%= user_form.text_field :last_name, value: @new_user.last_name,  class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag(:name, "Email") %>
                <%= user_form.email_field :email, value: @new_user.email, class: 'form-control',
                                          "aria-describedby"=>"emailHelp" %>
            </div>
        <!--    Hide this part in case user is not an admin-->
        <!--    <p>-->
                <%#= label_tag(:name, "Role") %>
                <%#= user_form.text_field :role, value: @new_user.role %>
        <!--    </p>-->

            <div class="form-group">
                <%= label_tag(:name, "Password") %>
                <%= user_form.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag(:name, "Confirm password") %>
                <%= user_form.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= user_form.submit "Create", :class => 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
    <div class="col-sm-4"></div>
</div>