<% content_for(:title, "News") %>
<h2>News List</h2>
<table>
    <thead>
    <tr>
        <td>Headline</td>
        <td>Image</td>
        <td>Text</td>
        <td>Game</td>
        <td>Author</td>
        <td>Created At</td>
        <td>Updated At</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
        <% @news.each do |news_item| %>
            <tr>
                <td><%= news_item.headline %></td>
                <td><%= image_tag news_item.image, size: '100' %></td>
                <td><%= news_item.text %></td>
                <td><%= Game.find(news_item.game_id).name %></td>
                <td>
                    <% user = User.find(news_item.user_id) %>
                    <%= user.first_name + " " + user.last_name %>
                </td>
                <td><%= news_item.created_at.strftime('%Y-%m-%d %T') %></td>
                <td><%= news_item.updated_at.strftime('%Y-%m-%d %T') %></td>
                <td>
                    <a href="/news/<%= news_item.id %>">Show</a> |
                    <a href="/admin/news/<%= news_item.id %>/edit">Update</a> |
                    <a href="/admin/news/<%= news_item.id %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                </td>
            </tr>
        <% end %>
        <tr>
            <td><a href="/admin/news/new">Create news</a></td>
        </tr>
    </tbody>
</table>
