<h2>New news</h2>
<% if @new_news.errors.full_messages %>
    <% @new_news.errors.full_messages.each do |error| %>
        <p style="color: red"><%= error %></p>
    <% end %>
<% end %>
<%= form_with model: @new_news, url: "/admin/news", method: "post", local: true do |news_form| %>
    <p>
        <%= label_tag(:name, "Headline") %>
        <%= news_form.text_field :headline, value: @new_news.headline %>
    </p>
    <p>
        <%= label_tag(:name, "Image") %>
        <%= news_form.text_field :image, value: @new_news.image %>
    </p>
    <p>
        <%= label_tag(:name, "Text") %>
        <%= news_form.text_area :text, value: @new_news.text %>
    </p>
    <p>
        <%= news_form.select :game,
                             options_for_select(
                                 Game.all.map{|game| [game.name, game.id] },
                                 @new_news.game),
                             { include_blank: false, include_hidden: false } %>
    </p>
    <p>
        <%= news_form.select :user,
                             options_for_select(
                                 User.all.map{|user| [user.first_name + " " + user.last_name , user.id] },
                                 @new_news.user),
                             { include_blank: false, include_hidden: false } %>
    </p>
    <p>
        <%= news_form.submit "Create" %>
    </p>
<% end %>