<h2>New requirement</h2>
<% if @new_requirement.errors.full_messages %>
    <% @new_requirement.errors.full_messages.each do |error| %>
        <p style="color: red"><%= error %></p>
    <% end %>
<% end %>
<%= form_with model: @new_requirement, url: "/admin/requirements", method: "post", local: true do |requirement_form| %>
    <p>
        <%= label_tag(:name, "Type") %>
        <%= requirement_form.text_field :req_type, value: @new_requirement.req_type %>
    </p>
    <p>
        <%= label_tag(:name, "Operating system") %>
        <%= requirement_form.text_field :operating_system, value: @new_requirement.operating_system %>
    </p>
    <p>
        <%= label_tag(:name, "RAM (Gb)") %>
        <%= requirement_form.number_field :ram, value: @new_requirement.ram %>
    </p>
    <p>
        <%= label_tag(:name, "GPU") %>
        <%= requirement_form.text_field :gpu, value: @new_requirement.gpu %>
    </p>
    <p>
        <%= label_tag(:name, "CPU") %>
        <%= requirement_form.text_field :cpu, value: @new_requirement.cpu %>
    </p>
    <p>
        <%= label_tag(:name, "Free Space (Gb)") %>
        <%= requirement_form.number_field :free_space, value: @new_requirement.free_space %>
    </p>
    <%#= binding.pry %>
    <p>
        <%= requirement_form.select :game,
                             options_for_select(
                                 Game.all.map{|game| [game.name, game.id] },
                                 @new_requirement.game),
                             { include_blank: false, include_hidden: false } %>
    </p>
    <p>
        <%= requirement_form.submit "Create" %>
    </p>
<% end %>