<%= content_for(:title, @news.headline) %>
<p>
    <%= label_tag("Headline:") %>
    <%= @news.headline %>
</p>
<p>
    <%= label_tag("Image:") %>
    <% if @news.image %>
        <%= image_tag @news.image, size: 150 %>
    <% end %>
</p>
<p>
    <%= label_tag("Text:") %>
    <%= @news.text %>
</p>
<p>
    <%= label_tag("Author:") %>
    <%= @news.user.first_name + " " + @news.user.last_name  %>
</p>
<p>
    <%= label_tag("Game:") %>
    <%= @news.game.name %>
</p>
<%= link_to 'Back', :back %>
