<h2>Edit game</h2>
<% if @game_to_edit.errors.full_messages %>
    <% @game_to_edit.errors.full_messages.each do |error| %>
        <p style="color: red"><%= error %></p>
    <% end %>
<% end %>
<%= form_with model: @game_to_edit, url: "/admin/games/#{@game_to_edit.id}", method: "patch", local: true do |game_form| %>
    <p>
        <%= label_tag(:name, "Name") %>
        <%= game_form.text_field :name, value: @game_to_edit.name %>
    </p>
    <p>
        <%= label_tag(:critics_rate, "Critics rate") %>
        <%= game_form.number_field :critics_rate, value: @game_to_edit.critics_rate %>
    </p>
    <p>
        <%= label_tag(:genre, "Genre") %>
        <%= game_form.text_field :genre, value: @game_to_edit.genre %>
    </p>
    <p>
        <%= label_tag(:company, "Company") %>
        <%= game_form.text_field :company, value: @game_to_edit.company %>
    </p>
    <p>
        <%= label_tag(:publisher, "Publisher") %>
        <%= game_form.text_field :publisher, value: @game_to_edit.publisher %>
    </p>
    <p>
        <%= label_tag(:published_at, "Published at") %>
        <%= game_form.date_field :published_at, value: @game_to_edit.published_at %>
    </p>
    <p>
        <%= label_tag(:modes, "Modes") %>
        <% modes_array = Mode.all.map {
            |mode| [mode.name + " (" + mode.maximum_players.to_s + ")", mode.id]
        } %>
        <%= game_form.select :modes,
                             options_for_select(modes_array, @game_to_edit.modes.map{|mode| mode.id}),
                             { include_blank: false, include_hidden: false },
                             { multiple: true }  %>
    </p>
    <p>
        <%= label_tag(:platforms, "Platforms") %>
        <%= game_form.collection_select :platforms,
                                        Platform.all,
                                        :id,
                                        :name,
                                        {
                                            include_blank: false,
                                            include_hidden: false,
                                            selected: @game_to_edit.platforms.map{|platform| platform.id}
                                        },
                                        { multiple: true} %>
    </p>
    <p>
        <%= game_form.submit "Update" %>
    </p>
<% end %>