<h2>New game</h2>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color: red"><%= error %></p>
    <% end %>
<% end %>

<%= form_with(url: "/admin/games/", method: "post") do %>
    <p>
        <%= label_tag(:name, "Name") %>
        <%= text_field(:game, :name) %>
    </p>
    <p>
        <%= label_tag(:critics_rate, "Critics rate") %>
        <%= number_field(:game, :critics_rate) %>
    </p>
    <p>
        <%= label_tag(:genre, "Genre") %>
        <%= text_field(:game, :genre) %>
    </p>
    <p>
        <%= label_tag(:company, "Company") %>
        <%= text_field(:game, :company) %>
    </p>
    <p>
        <%= label_tag(:publisher, "Publisher") %>
        <%= text_field(:game, :publisher) %>
    </p>
    <p>
        <%= label_tag(:published_at, "Published at") %>
        <%= date_field(:game, :published_at) %>
    </p>
    <p>
        <%= label_tag(:modes, "Modes") %>
        <% modes_array = Mode.all.map {
            |mode| [mode.name + " (" + mode.maximum_players.to_s + ")", mode.id]
        } %>
        <%= select(:game, :mode, options_for_select(modes_array), {}, { multiple: true} ) %>
    </p>
    <p>
        <%= label_tag(:platform, "Platforms") %>
        <%= collection_select(:game, :platform, Platform.all, :id, :name, {}, {multiple: true}) %>
    </p>
    <p>
        <%= submit_tag("Create") %>
    </p>
<% end %>